*{
    list-style-type: none;
    padding: 0;
}
li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
li:hover {
    background-color: #f0f0f0;
}